In [21]:
import boo

In [35]:
url = "https://boodata.s3.eu-central-1.amazonaws.com/data-20191029t000000-structure-20181231t000000.csv"
boo.download_direct(url, 2018, force=True)

DeletedC:\Users\Евгений\.boo\raw2018.csv
Downloading source file for 2018 fromhttps://boodata.s3.eu-central-1.amazonaws.com/data-20191029t000000-structure-20181231t000000.csv
108324 k [00:26, 4673.21 k/s]

In [33]:
source_df = boo.read_dataframe(2018)
source_df

ValueError: Integer column has NA values in column 16

In [30]:
fin_columns = ['ta', 'sales', 'profit_before_tax']
text_columns = ['ok1', 'region', 'title']
df_full = source_df[text_columns+fin_columns]
df_full.loc[:,fin_columns] = df_full.loc[:,fin_columns].divide(1_000).round(1)
df_full.sort_values('ta')

,ok1,region,title,ta,sales,profit_before_tax
inn,,,,,,
7720704500,51,77,Проф Электро,-8.7,222.6,0.0
7722763519,65,77,Альянс Холдинг,-8.3,171.1,0.0
7723801622,45,77,СпецТрансСтрой,-3.6,254.9,0.0
7722663970,71,77,Палас,-3.3,15.4,0.0
2724161768,45,27,Аэрстрой,-2.4,0.0,-2.5
...,...,...,...,...,...,...
7710658157,67,77,НАЦИОНАЛЬНАЯ РЕЗЕРВНАЯ СИСТЕМА,2150285.0,0.0,0.0
7706107510,23,77,"Нефтяная компания ""Роснефть""",2492002.2,2595672.3,345561.5
7705630445,74,77,РОСНЕФТЕГАЗ,2661872.5,83282.4,88040.3
7708503727,60,77,Российские железные дороги,4330803.0,1366015.0,66153.0
7736050003,51,77,Газпром,10035651.8,3659150.8,753686.9

In [14]:
df_full.query('profit_before_tax == 0')[['ta', 'sales']]

                ta   sales
inn
3123077591    2139   22040
3446045741     119       0
3435114922   13326     180
3441043300      79    1274
3447032255    9931   32305
...            ...     ...
1326205809   40356   43430
1326205862    1290   19222
1322122005    9763    2235
1324134609  736180  299486
1310187865      49    3669

[642511 rows x 2 columns]